html, body {
  height: 100%;
}

.jumbotron {
  margin-bottom: 0;
}

.bg-image {
  background-image: url("../media/bg-img.jpg");
  background-color: #121212;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.logo {
  display: block;
  width: 50%;
}

.logo-sm {
  display: block;
  width: 30%;
}

i {
  vertical-align: middle;
}

.staff-img {
  width:50%;
}